@charset "UTF-8";

.wrapper .M-box{
	text-align: center;
}

.wrapper .demo-image {
	width: 100%;
}

.wrapper .M-box, .wrapper .M-box1, .wrapper .M-box2, .wrapper .M-box3, .wrapper .M-box4 {
	position: relative;
	text-align: center;
	zoom: 1;
}

.wrapper .M-box:before, .wrapper .M-box:after, .wrapper .M-box1:before, .wrapper .M-box1:after, .wrapper .M-box2:before,
	.wrapper .M-box2:after, .wrapper .M-box3:before, .wrapper .M-box3:after, .wrapper .M-box4:before, .wrapper .M-box4:after
	{
	content: "";
	display: table;
}

.wrapper .M-box:after, .wrapper .M-box1:after, .wrapper .M-box2:after, .wrapper .M-box3:after, .wrapper .M-box4:after
	{
	clear: both;
	overflow: hidden;
}

.wrapper .M-box span, .wrapper .M-box1 span, .wrapper .M-box2 span, .wrapper .M-box3 span, .wrapper .M-box4 span{
	float: left;
	margin: 0 5px;
	width: 38px;
	height: 38px;
	line-height: 38px;
	color: black;
	font-size: 14px;
}

.wrapper .M-box .active, .wrapper .M-box1 .active, .wrapper .M-box2 .active, .wrapper .M-box3 .active,
	.wrapper .M-box4 .active {
	float: left;
	margin: 0 1px;
	width: 38px;
	height: 38px;
	line-height: 38px;
	background: #7dd2fb;
	color: black;
	font-size: 14px;
	border: 1px solid #7dd2fb;
	border-radius: 10px;
}

.wrapper .M-box a, .wrapper .M-box1 a, .wrapper .M-box2 a, .wrapper .M-box3 a, .wrapper .M-box4 a {
	float: left;
	margin: 0 2px;
	width: 38px;
	height: 38px;
	line-height: 38px;
	background: #fff;
	border: 1px solid #ebebeb;
	color: black;
	font-size: 14px;
	border-radius: 10px;
}

.wrapper .M-box a:hover, .wrapper .M-box1 a:hover, .wrapper .M-box2 a:hover, .wrapper .M-box3 a:hover,
	.wrapper .M-box4 a:hover {
	color: #fff;
	background: #7dd2fb;
}

.wrapper .M-box .next, .wrapper .M-box .prev, .wrapper .M-box1 .next, .wrapper .M-box1 .prev {
	font-family: "Simsun";
	font-size: 16px;
}

.wrapper .now, .wrapper .count {
	padding: 0 3px;
	color: #f00;
}

.wrapper .eg img {
	max-width: 800px;
	min-height: 500px;
}

.wrapper input {
	float: left;
	margin: 0 5px;
	width: 38px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	background: #fff;
	border: 1px solid #ebebeb;
	outline: none;
	color: #bdbdbd;
	font-size: 14px;
}